			------
            ${id}
            ------
            ${author}
            ------
            ${since}
            
${id} / ${name}

  (Autor: ${author}, Version: ${version}, Last Update: ${since})
  
* Description
  
  ${abstract}
  
* Test Case Definition
  
~~{table}
*-------------------------------+--------------------------------+
 <<ID>>   						| ${id}        
*-------------------------------+--------------------------------+
 <<Name>> 						| ${name} 
*-------------------------------+--------------------------------+
 <<Use Case>>					| ${usecase} 
*-------------------------------+--------------------------------+
 <<Precondition/s>>				| ${preconditions}
*-------------------------------+--------------------------------+
 <<Input Data>>					| ${inputdata}
*-------------------------------+--------------------------------+
 <<Actions>>					| ${actions} 
*-------------------------------+--------------------------------+
 <<Expected Result>>			| ${expectedResult} 
*-------------------------------+--------------------------------+
 <<Postcondition/s>>			| ${postconditions}
*-------------------------------+--------------------------------+
 <<Coment>>				 		| ${testCaseComment}
*-------------------------------+--------------------------------+
 <<History>>			 		| ${testCaseHistory}
*-------------------------------+--------------------------------+
~~{/table}

* Screencast

~~{screencast:screencasts/${id}}

* Screenshots

~~{images:/images/screenshots/${id}}
 