			------
            ${id}
            ------
            ${author}
            ------
            ${since}

${id} / ${name}

  (Autor: ${author}, Version: 0.1, Last Update: ${since})

* Description
  
  ${abstract}
  
* Use Case Definition
  
~~{table}
*-------------------------------+--------------------------------+
 <<ID>>   						| ${id}        
*-------------------------------+--------------------------------+
 <<Name>> 						| ${name}
*-------------------------------+--------------------------------+
 <<Goal>> 						| ${goal}
*-------------------------------+--------------------------------+
 <<Actor/s>> 					| ${actors}
*-------------------------------+--------------------------------+
 <<Status>> 					| ${status}
*-------------------------------+--------------------------------+
 <<Preconditions>>				| ${preconditions}
*-------------------------------+--------------------------------+
 <<Postconditions>>				| ${postconditions}
*-------------------------------+--------------------------------+
 <<Trigger>> 					| ${trigger}
*-------------------------------+--------------------------------+
 <<Normal Flow>>		 		| ${normalFlow}
*-------------------------------+--------------------------------+
 <<Alternative Flow>>			| ${alternativeFlow}
*-------------------------------+--------------------------------+
 <<Comments>>			 		| ${useCaseComment}
*-------------------------------+--------------------------------+
 <<History>> 					| ${useCaseHistory}
*-------------------------------+--------------------------------+
~~{/table}
